*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(228, 228, 228);
}

.user-wrapper{
  width: 400px;
  margin: auto;
  margin-top: 40vh;
  background-color: white;
  border: 1px solid red;
}

/* Login */

.user-component{
  padding: 10px;
}

.user-component > h1 {
  text-align: center;
}

/* Header */

#header{
  background-color: red;
  padding: 10px 0 10px 25px;

}

#header > a {
  color:white;
  font-size: 20px;
  text-decoration: 0;
  padding: 5px;
  margin: 10px;
}

/* Diary */

.left-component{
  width: 50%;
  margin: 25px 0 0 25px;
}

.react-calendar{
  margin: 0;
}

.today{
  font-weight: bold;
}

.marked-date{
  background-color: red;
}