*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(228, 228, 228);
}

.user-wrapper{
  width: 400px;
  margin: auto;
  margin-top: 40vh;
  background-color: white;
  border: 1px solid red;
}

/* Login */

#login-component{
  padding: 10px;
}

#login-component > h1 {
  text-align: center;
}

/* Header */

#header{
  background-color: red;
  padding: 10px 0 10px 25px;

}

#header > a {
  color:white;
  font-size: 20px;
  text-decoration: 0;
  padding: 5px;
  margin: 10px;
}